:root {
    --cor01: #9bb9f7;
    --cor02: #e13e18;
    --cor03: #9ef9f0;
    --cor04: #032508;
    --cor05: #f8e928;
    --cor06: #021975;
    --cor07: #6c91d7;
    --cor08: #770b16;
    --cor09: #5d83f8;
    --cor010: #3aeb39;
    --cor011: #dde5d5;
}

body {
    background-color: black;
    color: white;
}

.container {
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
}

.logo {
    width: 56px;
    height: 56px;
    float: left;
    background: url(img/fitnes.jpg) center center/56px no-repeat;
    font-size: 0;
}

.btn-menu {
    width: 96px;
    height: 76px;
    float: right;
    text-align: center;
    color: #fff;
    border-radius: 66px ;
    cursor: pointer;
    background: linear-gradient(to right, #a81723, #da6709);
}

.menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000e6;
    top: 0;
    left: 0;
}

.btn-close {
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    float: right;
    margin: 3% 4% 0 0;
}

.menu ul {
    width: 100%;
    background: #130400;
    color: var(--cor011);
    float: left;
    text-align: center;
}

.menu li {
    padding: 1.5%;
    list-style: none;
}

.menu li a {
    font-size: 2em;
    color: var(--cor011);
    padding: 1.5% 3%;
}

.menu li a:hover{
    border: 1px solid #da6709;
}

.banner{
    background: url(first/logo/logo-alfa01.jpg) no-repeat;
    width: 100vw;
    height: 100%;
    float: left;
}

.title {
    width: 100%;
    
}

.title h2 {
    font-size: 2.5em;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.title h3{
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}

.buttons {width: 100%; margin-top: 2%;}
.buttons i { float: right;}
.btn {
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 5%;
    border-radius: 10px;
}

.btn-sobre {
    background-color: #da6709;
    color: #fff;
    margin-top: 2%
}

.servico{
    width: 100%;
    background-color: ;
    text-align: left;
    border-radius:7px ;
    margin-bottom: 3%;
}

.servico img {
    border-radius: 7px 7px 0 0 ;
}

.inner {
    padding: 7%;
}

.inner a {
    font-size: 1.5em;
   
    font-weight: 700;
}

.inner h4 {
    font-size: 1.2em;
    
    margin-top: 2%;
}
.inner p {
    margin-top: 6%;
    
    line-height: 1.5em;
}

.newsletter {
    background-color: #130400;
}

.newsletter h2 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 700;
}

.newsletter h3 {
    color: #fff;
}

.newsletter form {
    margin-top: 2%;
}

.newsletter input {
    background-color: #130400;
    color: #fff;
    border: 1px solid #ffffff55;
    padding: 5%;
    border-radius: 5px;
    width: 100%;
}

.newsletter button {
    width: 100%;
    background-color: #fff;
    color: #130400;
    padding: 5%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
}

/* RODAPÉ */
.rodape {
    background: linear-gradient(to right, #ce2e3c, #da6709);
}

.social-icons {
    text-align: center;
}

.social-icons a {
    font-size: 1.5em;
    color: #00000088;
    margin-right:3% ;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    color: #ffffff;
}

.copyright {
    margin: 2%;
    color: #ffffff88;
}

@media screen and (min-width: 480px){
    .logo {
        width: 214px;
        background: url(img/fitnes.jpg) center center/76px no-repeat;
    }
    .btn { font-size: 2em;}
}

@media screen and (min-width: 768px){
    .servico {
        width: 49%;
        float: left;
        margin-right: 2%;
    }
    .servico:nth-child(2){
        margin-right: 0;
    }
    .newsletter h2 { font-size: 2em;}
    .newsletter h3 { font-size: 1.5em;}
    .newsletter input { width: 70%; padding: 2%; float: left; margin-right: 1%; }
    .newsletter button { width: 29%; padding: 2%; float: right; margin-top: 0;}

}

@media screen and (min-width: 960px){
    .title {
        width: 70%;
        float: left;
        text-align: left;
    }
    .title h2 {
        font-size:  3em;
    }
    .title h3{
        font-size: 2em;
    }
    .buttons {
        width: 30%;
        float: right;
        margin-top: 0;
    }
    .servico {
        width: 32%;

    }
    .servico:nth-child(2){
        margin-right: 0;
    }
    .servico:nth-child(3){
        margin-right: 0;
    }
    .newsletter input { width: 60%; float: none; }
    .newsletter button { width: 20%; float: none;}
}

@media screen and (min-width: 1280px){
    .btn-menu {display: none;}
    .btn-close {display: none;}

.menu {
    width:  auto; 
    height: 56px;
    line-height: 56px;
    float: right;
    background-color: #f5f5f5;
    display: block !important;
    position: static;
}

.menu li {
    padding: 0;
    float: left;
}

.menu li a {
    color: #130400;
    font-size: 1em;
    padding: 15px;
}

.menu li a:hover{
    border: none;
    color: #da6709;
}

.container {
    padding: 1%;
}
}